<%# <div class="container-black">
</div> %>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright © Haya Moon 2024</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="nav-item active">
                    <%= link_to "https://www.instagram.com/lemondisc0/", class: 'ig-btn', target: '_blank' do %>
                    <%= content_tag :i, "", class: 'fa-brands fa-instagram' %>
                    <% end %>
                    </li>
                    <li class="nav-item active">
                    <%= link_to "https://www.instagram.com/lemondisc0/", class: 'ig-btn', target: '_blank' do %>
                    <%= content_tag :i, "", class: 'fa-brands fa-linkedin' %>
                    <% end %>
                    </li>
                    <li class="nav-item active">
                    <%= link_to "https://www.instagram.com/lemondisc0/", class: 'ig-btn', target: '_blank' do %>
                    <%= content_tag :i, "", class: 'fa-brands fa-github' %>
                    <% end %>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <%# <ul class="list-inline quicklinks">
                </ul> %>
            </div>
        </div>
    </div>
</footer>
