<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading-contact">Contact Me</h2>
        <%# <h3 class="section-subheading">Send me a message</h3> %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="row justify-content-center">
          <div class="col-md-6 container-contact">
            <%# <%= form_tag '/send_email' do %>
            <%= form_with scope: :contact_form, url: contact_form_index_path, method: :post, local: true, class: "container" do |form| %>
              <div class="form-group">
                <%= form.label :name, 'Name', class: 'form-control-label' %>
                <%= form.text_field :name, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= form.label :email, 'Email', class: 'form-control-label' %>
                <%= form.text_field :email, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= form.label :message, 'Message', class: 'form-control-label' %>
                <%= form.text_area :message, class: 'form-control', rows: 5 %>
              </div>
              <%= form.submit 'Submit', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
